/* BlogPostCard.module.css */
.card {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover {
    opacity: 0.95;
  }
  
  .cardContainer {
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .imageContainer {
    position: relative;
    overflow: hidden;
    height: 300px; /* Set a fixed height for consistent card height */
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
  }
  
  .imageLoaded {
    opacity: 1; /* Show image when loaded */
  }
  
  .contentContainer {
    background-color: #f3f4f6;
  }
  
  .linkContainer {
    background-color: #ffffff;
    padding: 10px 20px;
  }
  
  .moreText {
    font-weight: bold;
    color: #333333;
  }
  
  .arrowIcon {
    margin-left: 8px; /* Adjust as needed */
    color: #333333;
  }
  